body{
    background-color: white;
    font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6, p, a, ul, span, li, img, inpot, button{ margin: 0; padding: 0; }
p {
    color: gray;
}
header {
     margin-top: 20px;
}
header .navbar{
    padding: 15px;
    height: auto;
    background-color:#d4d090;
    display: block;
    border-radius: 20px;
}
.profile-img{ height: 200px; width: 180px; border-radius: 100px; margin: 0 auto; 
    overflow: hidden; position: relative; top: auto; margin-bottom: auto;}

.section{ padding: 100px 0 50px; }

.section .heading{ margin-bottom: 60px; }

.section .heading:before{ content:''; height: 10px; width: 50px; border-radius: 5px;
    margin-bottom: 20px; display: block; background: #FFA804; }

/* ---------------------------------
7. EXPERIENCE SECTION
--------------------------------- */

.skills-section{ 
    background: #28023D !important; 
    color: #fff; 
}
.skills-section ul {
    list-style-type:circle; 
}
.skills-section ul li {
    position: relative; 
    margin-bottom: 10px;
    margin-left: 20px;
   }

.objective-section {
    background: #e3e5e4; 
    color: rgb(107, 99, 99); 
}
.fadethisdiv {
    opacity:0;
}

.experience-section{
    background: rgb(36, 24, 3) !important;
}

.new-section {
    background: #FFA804;
}